# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\ucas_onedrive\OneDrive - mails.ucas.ac.cn\tp-training\tp-learning\java作业\培新1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
